gitea_home/*
jenkins_home/*
nexus_home/*
postgresql_home/*
sonarqube_home/*
!gitea_home/git
gitea_home/git/*
!gitea_home/git/repositories
gitea_home/git/repositories/*
!gitea_home/git/repositories/barblin
gitea_home/git/repositories/barblin/*
!gitea_home/git/repositories/barblin/jenkins-shared-library.git
